{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-6">

        <h4 class=" mt-5">Manage Employees</h4>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <img class="card-img-top" src="{% static 'assets/img/' %}{{products.image}}" alt="Card image cap"><br>
                <h5 class="card-title">{{products.product_name}}</h5>

                <strong class="card-text">Rs.{{products.price}}</strong><br><br>
                <form action="" method="POST">
                    {% csrf_token %}

                    <button class="btn btn-primary">Add To Cart</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>





</div>








</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>


{% endblock content %}